// descriptive variables, add as needed:

// greyscale
$black          : rgb(0,0,0);
$darkgrey       : lighten($black, 25%);
$grey           : lighten($black, 50%);
$lightgrey      : lighten($black, 75%);
$lightergrey    : lighten($black, 90%);
$white          : rgb(255,255,255);

// functional variables:
$primary1:  rgb(0, 38, 53);
$primary2:  rgb(1, 52, 64);
$primary3:  rgb(171, 26, 37);
$primary4:  rgb(217, 121, 37);
$primary5:  rgb(239, 231, 190);


// Theme Standards
$text-color:    $black;
$bg-color:      $white;
$head-color:    $primary2;
$link-color:    $primary3;
$border-color:  $lightergrey;
$code-bg-color: $bg-color;

$btn-text:      $white;
$btn-primary:   #09c;
$btn-second:    lighten($btn-primary, 10%);
$btn-success:   $primary2;
$btn-alert:     $primary4;


// Typography
$font-size:         62.5%;
$font-size-body:    1.4;
$line-height:       1.6;
$font-main:         Helvetica, Arial, sans-serif;
$font-heading:      inherit;
$font-mono:         monospace, sans-serif;
$font-size-h1:      2.6;
$font-size-h2:      2.4;
$font-size-h3:      2.2;
$font-size-h4:      2.0;
$font-size-h5:      1.8;
$font-size-h6:      1.6;


// Links
$linkcolor          : rgb(1,53,104);
$linkcolorhover     : darken($linkcolor, 10);
$linkcolorvisited   : darken($linkcolorhover, 10);
$linkcolorfocus     : darken($linkcolorvisited, 10);

// Defaults
$border-radius: 5;
$base-margin:   20;

// Support IE?
// used in some compass mixins
// eg: to avoid those terrible progid filter
$support-ie6:   false;
$support-ie7:   false;
$support-ie8:   false;

