// *** Table of Contents
// search with the $prefix, eg $typography

// General
// Typography
// Layout
// Modules
// States

// $GENERAL
    body{
        -webkit-transform: all .3s ease-in-out;
        -moz-transform: all .3s ease-in-out;
        -ms-transform: all .3s ease-in-out;
        -o-transform: all .3s ease-in-out;
        transform: all .3s ease-in-out;
    }
    .wrapper{ margin: 2em auto; }
// $TYPOGRAPHY
// $LAYOUT

.button{ @extend %btn; }
.button-group{ @extend %btn-group; }

.top-bar{@extend %top-bar};

// $MODULES

.my-module{
    @extend %island;
    @extend %is-highlighted;
    h1,h2,h3,h4,h5{ margin-top: 0; }
}

.vertical-navigation{
    @extend %nav;
    @extend %vertical;
}

.main-navigation{
    @extend %nav;
    @extend %main-nav;
}

.mod-start-teaser{
    @extend %media;
}

.pagination{
    @extend %nav;
    @extend %pagination;
    @extend %pagination-theme-simple;
    .pagination-first{
        @extend %pagination-first
    }
    .pagination-last{
        @extend %pagination-last
    }
}

// $STATES

