/* Site Wide Styles, eg home, body */

* { @include border-box; }

html{
    font-family: $font-main;
    font-size: $font-size;
}
body{
    background: $bg-color;
    @include font-size($font-size-body);
}
