// descriptive variables, add as needed:
$black:     #000;
$darkgrey:  #333333;
$grey:      #666666;
$lightgrey: #333333;
$white:     #fff;
$blue:      blue;

// functional variables:
$primary1:  $grey;
$primary2:  $black;
$primary3:  $blue;
$primary4:  $white;

// Theme Standards
$text-color:    $primary2;
$link-color:    $primary3;
$bg-color:      $primary4;
$border-color:  $primary1;
