/* THe Media Object */
// http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
%media {
    margin:10px;
    > .img,
    > img {
        float:left;
        margin-right: 10px;
    }
    .img img,
    img{
        display:block;
    }
}
%media,
%media .bd {
    overflow:hidden;
    _overflow:visible;
    zoom:1;
}
