// Border-Box, use content-box as default
@mixin border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Vendorize CSS Properties - eg.: vendorize(border-box, 10px);
@mixin vendorize($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

// Emboss Elements
@mixin emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

// Letterpress Typo
@mixin letterpress($opacity){
    text-shadow:white($opacity) 0 1px 0;
}

// Hover Active Focus Link
@mixin hoverActiveFocus($property, $value) {
    &:hover, &:active, &:focus {
        #{$property}: $value;
    }
}



